* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.header {
    height: 100vh;
    background: rgb(14,14,14);
    background: rgb(14,14,14);
    background: linear-gradient(180deg, 
     rgba(14,14,14,0.26234243697478987) 0%,
     rgba(0,0,0,1) 100%),url('../images/background-1.jpg');
    background-size: cover;
    background-position: center;

}


img {
    width: 90px;
    height: auto;
    border-radius: 100%;
}

.header-brand {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 45px;
    margin-left: 0;
}

.header-brand_span {
    color:mediumturquoise;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 7%;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}

.header-text h1 {
    font-size: 65px;
}

